/*
Theme Name: Union Church
Description: 3.0+ has been completely and massively overhauled. DO NOT UPGRADE current projects (anything below 3.0) to this version automatically. You will lose all customizations whether you're using a child theme or not. BEFORE USING AND ESPECIALLY UPGRADING IN GENERAL PLEASE READ: tidythemes.com/concept. The bare essentials of a WordPress theme (an HTML5 boilerplate), no visual CSS styles added. Perfect for those who would like to build their own theme from scratch or for clients if you're a developer or designer. This theme is clean, valid code, semi-minified, no programmer comments, SEO-friendly and 100% open source. One custom menu and one widgetized sidebar to get you started. If you don't know CSS and would like to learn we've prepared: tidythemes.com/want-to-learn-css and please visit us in the forum for further help: tidythemes.com/forum - Thank You and Enjoy
Author: TidyThemes
Author URI: http://tidythemes.com/
Version: 3.3
Tags: black, blue, white, light, one-column, flexible-width, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,700italic,900,700italic);
@import url('font-awesome/css/font-awesome.min.css');
@import url('bootstrap/css/bootstrap.min.css');

body{
	font-family: 'Lato';
	color:#808285;
}
.clear_both{
	clear:both
}
.container {
	width: 980px;
}
.pre_header{
	text-align:right;
	margin:0;
	padding:20px 0 10px;
	list-style:none;
	color:#5c5c5c;
	border-bottom: 1px solid #F2F2F2;
}
.pre_header:after{
	content:'';
	display:table;
	clear:both;
}
.pre_header li{
	float:right;
	padding: 0 0 0 20px;
}
.pre_header a{
	color:#5c5c5c;
	text-decoration:none;
	font-weight:700;
}
.header{
	border-top:1px solid #f2f2f2;
	padding: 0 0 40px;
}
.header .logo{
	width:350px;
	padding:25px 0;
	display:inline-block;
}
.header .smb{
	margin:45px 0 0;
	padding:0 10px;
	list-style:none;
}
.header .smb li{
	display:inline-block;
	padding: 0 15px 0 0;
}
.header .smb li:last-child{
	padding: 0;
}
.header .nav_{
	border-top:12px solid #f2f2f2;
	border-bottom:12px solid #f2f2f2;
}
.header .nav_ ul{
	margin:0;
	padding:15px 0;
}
.header .nav_ li{
	list-style:none;
	display:inline-block;
	padding: 0 10px;
}
.header .nav_ a{
	color:#5c5c5c;
	text-decoration:none;
	font-weight:700;
}
.header .search_form{
	margin: 0;
}
.header .search_form input{
	margin:0;
	float:left;
	border:1px solid #f2f2f2;
	padding:1px 5px;
	box-shadow:none;
}
.header .search_form input{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.header .search_form input.field{
	width:120px;
}
.header .search_form input.submit{
	background:#f2f2f2 url(./images/search.png) no-repeat center center;
	width:30px;
	height:24px;
}
.tweet_button{
	padding:10px 0;
}
.footer{
	background:#282828;
	padding:25px 0 40px;
	margin:30px 0 0;
	font-size:12px;
	font-weight:300;
}
.footer .container{
	position:relative;
}
.footer, .footer a{
	color:#fff;
}
.footer .col_item{
	float:left;
	width:160px;
	margin:0 0 0 15px;
}
.footer .col_item:first-child{
	margin:0;
}
.footer .group{
	border-left:1px solid #fff;
	padding: 0 0 0 15px;
}
.footer .group *{
	line-height:normal;
}
.heading{
	font-weight:700;
}
.footer .list{
	list-style:none;
	margin:0;
}
.footer .spacing{
	height:10px;
}
.footer .dbl_spacing{
	height:20px;
}
.footer .col_item.med{
	width:200px;
}
.footer .last{
	width:210px;
	text-align:center;
	color:#9c9c9c;
	font-weight:400;
	position:absolute;
	bottom:0;
	right:0;
}
.footer .smb{
	margin:0 0 0;
	padding:40px 0;
	list-style:none;
	color:#9c9c9c;
}
.footer .smb li{
	display:inline-block;
	padding: 0 8px;
}
.footer .last .padded_link{
	color:#9c9c9c;
	margin:0 3px;
}
.uc_home .content{
	
}
.uc_home .banner{
	background:#fafafa url(./images/home_banner_bg.jpg) no-repeat left top;
	padding:0 0 0 333px;
	margin: 0 0 35px;
	height:245px;
	font-size:18px;
	color:#808285;
	line-height:28px;
}
.uc_home .banner .title{
	padding:50px 0 0;
	color:#6d6e71;
	font-style:italic;
}
.uc_home .border-top{
	border-top: 1px solid #F2F2F2;
	padding:35px 0 50px;
}
.uc_home .border-top img{
	width:100%;
}
.uc_home .img_cont{
	position:relative;
	display:block;
}
.uc_home .img_cont .title{
	display:block;
	position:absolute;
	top: 45%;
	z-index: 2;
	font-size: 25px;
	text-align: center;
	width: 100%;
	color: #FFF;
	text-shadow:1px 1px 6px #250F0F;
}
.uc_home .img_cont .cover{
	display:none;
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	z-index:1;
}
.uc_home .img_cont .cover.gtku{
	background:#FF8420
}
.uc_home .img_cont .cover.events{
	background:#27396F
}
.uc_home .img_cont .cover.media_{
	background:#60862A
}
.uc_home .img_cont .cover.ministries{
	background:#af1c2d
}
.uc_home .img_cont:hover .cover{
	display:block;
}
.uc_home .list li{
	margin:10px 0;
	font-size:15px;
}
.border_group .border_1{
	border:8px solid #ef7c21;
}
.border_group .border_2{
	border:8px solid #283d6b;
}
.border_group .border_3{
	border:8px solid #688238;
}
.border_group .border_4{
	border:8px solid #af1c2d;
}
.ucp_page .banner{
	height:255px;
	overflow:hidden;
	position:relative;
}
.ucp_page .title{
	margin:0 0 15px;
}
.ucp_page .content{
	color: #808285;
	font-size: 18px;
	line-height: 30px;
	padding:20px 30px 10px;
	border-top: 1px solid #F2F2F2;
}
.ucp_page .content.listing{
	padding:0 20px 0 0;
}
.ucp_page .content.listing:after{
	display:table;
	content:'';
	clear:both;
}
.ucp_page .content.listing .pagination{
	clear:both;
}
.ucp_page .spacing{
	padding:10px;
}
/* styles for get to know us nav */
.ucp_page.gtku .nav_top{
	background: url(./images/nav_top_orange.png) no-repeat center bottom;
}
.ucp_page.gtku .nav_{
	background: url(./images/nav_bg_orange.png);
}
.ucp_page.gtku .nav_ .item{
	border-bottom:1px solid #ffc697;
}
.ucp_page.gtku .nav_ .item:hover > a{
	background-color:#ffb579;
	border-left:15px solid #ef7c21;
}
.ucp_page.gtku .nav_  a.parent{
	background-image: url(./images/nav_arrow_orange.png);
}
.ucp_page.gtku .nav_  .sub_nav a{
	border-top:1px solid #fff;
	padding:6px 15px;
	background:#ffc494;
}
.ucp_page.gtku .nav_ a{
	color:#ef7c21;
}
.ucp_page.gtku .nav_  .sub_nav a:hover{
	background:#ef7c21;
}


/* styles for events nav */
.ucp_page.events .nav_top{
	background: url(./images/nav_top_blue.png) no-repeat center bottom;
}
.ucp_page.events .nav_{
	background: url(./images/nav_bg_blue.png);
}
.ucp_page.events .nav_ .item{
	border-bottom:1px solid #b6bdd5;
}
.ucp_page.events .nav_ .item:hover > a{
	background-color:#7d88a8;
	border-left:15px solid #283d6b;
}
.ucp_page.events .nav_  a.parent{
	background-image: url(./images/nav_arrow_blue.png);
}
.ucp_page.events .nav_  .sub_nav a{
	border-top:1px solid #b6bdd5;
	padding:6px 15px;
	background:#98a0ba;
}
.ucp_page.events .nav_  .sub_nav a:hover{
	background:#283d6b;
}

/* styles for media nav */
.ucp_page.media .nav_top{
	background: url(./images/nav_top_green.png) no-repeat center bottom;
}
.ucp_page.media .nav_{
	background: url(./images/nav_bg_green.png);
}
.ucp_page.media .nav_ .item{
	border-bottom:1px solid #8ab34f;
}
.ucp_page.media .nav_ .item:hover > a{
	background-color:#9fb67f;
	border-left:15px solid #60862a;
}
.ucp_page.media .nav_  a.parent{
	background-image: url(./images/nav_arrow_green.png);
}
.ucp_page.media .nav_  .sub_nav a{
	border-top:1px solid #c4dca2;
	padding:6px 15px;
	background:#b3c599;
}
.ucp_page.media .nav_  .sub_nav a:hover{
	background:#60862a;
}


/* styles for media nav */
.ucp_page.ministries .nav_top{
	background: url(./images/nav_top_red.png) no-repeat center bottom;
}
.ucp_page.ministries .nav_{
	background: url(./images/nav_bg_red.png);
}
.ucp_page.ministries .nav_ .item{
	border-bottom:1px solid #e17783;
}
.ucp_page.ministries .nav_ .item:hover > a{
	background-color:#d96673;
	border-left:15px solid #af1c2d;
}
.ucp_page.ministries .nav_  a.parent{
	background-image: url(./images/nav_arrow_red.png);
}
.ucp_page.ministries .nav_  .sub_nav a{
	border-top:1px solid #f7a2ab;
	padding:6px 15px;
	background:#e1858f;
}
.ucp_page.ministries .nav_  .sub_nav a:hover{
	background:#af1c2d;
}




.ucp_page .nav_top{
	background-size:96% auto;
	height:255px;
}
.ucp_page .nav_{
	/* min-height:700px; */
}
.ucp_page .nav_ .item:hover{
	border-bottom:1px solid transparent;
}
.ucp_page .nav_ a{
	font-size:12px;
	color:#505050;
	display:block;
	text-decoration:none;
	padding:12px 40px 12px 15px;
	text-transform:uppercase;
	background-repeat:no-repeat;
}
.ucp_page .nav_ .item:hover a{
	color:#fff;
	padding-left:10px;
}
.ucp_page .nav_  a.parent{
	background-position:right 18px;
}
.ucp_page .nav_  .item:hover a.parent{
	background-position:right -18px;
}
.ucp_page .nav_ .item .sub_nav{
	display:none;
}
.ucp_page .nav_ .item .sub_nav a{
	padding-left:25px;
}
.ucp_page .nav_ .item:hover .sub_nav{
	display:block;
}

.staff_pastors .content .item{
	float:left;
	font-size:14px;
	line-height:normal;
	padding:15px 10px;
	width:46%;
}
.staff_pastors .content .item{
	display:block;
	float:none;
	width:auto;
	border-bottom: 1px solid #F2F2F2;
}
.staff_pastors .item .dtls{
	margin:10px 0 0;
}
.staff_pastors .item .dtls .links{
	color:#EF7C21;
	font-size:14px;
	margin: 0 0 10px;
}
.staff_pastors .item .dtls i{
	margin: 0 5px 0 0;
}
.staff_pastors .item .dtls .links a{
	margin: 0 25px 0 0;
	font-size:10px;
}
.staff_pastors .item .title, .staff_pastors .item .name, .staff_pastors .item a{
	color:#ef7c21;
}
.staff_pastors .item .title{
	text-transform:capitalize;
	font-size:18px;
	font-weight:400;
	margin:0 0 10px;
}
.staff_pastors .item .name{
	font-weight:700;
	font-size:24px;
	font-style:italic;
}
.staff_pastors .item .intro{
	line-height:20px;
}
.staff_pastors .item .pic{
	float:left;
	width:200px;
	height:200px;
	margin:0 10px 0 0;
	position:relative;
}
.staff_pastors .item .img-circle{
	border:1px solid #ef7c21;
	padding:5px;
	background: #FEE5D1;
	width:90%;
	max-height:200px;
}


.staff .content .item{
	/* border-bottom: 1px solid #F2F2F2;
	display:inline-block;
	*/
	float:left;
	font-size:14px;
	line-height:normal;
	padding:15px 10px;
	width:46%;
}
.staff .item .dtls{
	margin:10px 0 0;
}
.staff .item .dtls .links{
	color:#EF7C21;
	font-size:11px;
}
.staff .item .dtls i{
	margin: 0 5px 0 0;
}
.staff .item .dtls a{
	margin: 0 25px 0 0;
	/*
	background: #ef7c21;
	margin: 0 10px 0 0;
	padding:2px 0;
	text-align: center;
	width:60px; 
	color: #FFF;
	display: inline-block;
	font-size:12px;
	*/
	font-size:10px;
}
.staff .item .title, .staff .item .name, .staff .item a{
	color:#ef7c21;
}
.staff .item .title{
	text-transform:capitalize;
	font-size:14px;
	font-weight:400;
	margin:0 0 10px;
}
.staff .item .name{
	font-weight:700;
	font-size:16px;
	font-style:italic;
}
.staff .item .intro{
	line-height:20px;
}
.staff .item .pic{
	float:left;
	width:120px;
	height:120px;
	margin:0 10px 0 0;
	position:relative;
}
.staff .item .img-circle{
	border:1px solid #ef7c21;
	padding:5px;
	background: #FEE5D1;
	width:90%;
	max-height:130px;
}
.single_staff ._name, .single_staff ._title{
	color:#ef7c21;
}
.single_staff ._name{
	font-style:italic;
	font-size:24.5px;
}
.single_staff ._title{
	margin:0 0 15px;
}
.single_staff .staff_image{
	border: 1px solid #ef7c21;
	padding: 5px;
	margin: 0 10px 5px 0;
	background: #FEE5D1;
	max-width: 220px;
	float:left;
}

.events .content  .item{
	padding: 30px 0;
	border-bottom: 1px solid #F2F2F2;
	font-size: 14px;
	line-height: normal;
}
.events .content  .item .name{
	font-weight: 700;
	font-size: 22px;
	font-style: italic;
}
.events .item .title {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px;
}
.events .item .title, .events .item .name, .events .item a {
	color: #283d6b;
}
.events .item .intro {
	line-height: 20px;
}
.events .item .date {
	float:left;
	min-width:100px;
	color:#949494;
	background:#f5f1ee;
	text-align:center;
	line-height:normal;
	padding:18px 10px;
}
.events .item .day {
	color:#283d6b;
	font-size:55px;
	line-height:50px;
	font-weight:700;
}
.events .item .month {
	line-height:35px;
	font-size:30px;
	font-weight:400;
	text-transform:uppercase;
}
.events .item .dtls {
	float:right;
	width:560px;
}
.single.events .name,
.single.events .date{
	color:#27396F;
}
.single.events .date{
	margin: 0 0 15px;
}
.single.events .name{
	font-style: italic;
	font-size: 24.5px;
}
.contact_us .banner img{
	width:100%;
}
.contact_us #xyz_cfm_1_1 .spacing{
	margin:20px 0 0;
	padding:0 0 25px;
	border-top:1px solid #f2f2f2;
}
.contact_us #xyz_cfm_1_1{
	border:1px solid #ff8420;
}
.contact_us #xyz_cfm_1_1 .heading{
	font-size:17px;
	line-height:35px;
	color:#fff;
	background:#ff8420;
	font-weight:300;
	padding:0 20px;
	margin: 0 0 15px;
}
.contact_us #xyz_cfm_1_1 .heading{
	font-size:17px;
	line-height:35px;
	color:#fff;
	background:#ff8420;
	font-weight:300;
	padding:0 20px;
	margin: 0 0 15px;
}
.contact_us #xyz_cfm_1_1 .xyz_form td{
	padding:0 0 0 20px;
	font-size:14px;
	color:#555555;
	vertical-align:top;
}
.contact_us #xyz_cfm_1_1 td:first-child{
	text-align:right;
}
.contact_us #xyz_cfm_1_1 input, .contact_us #xyz_cfm_1_1 textarea{
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	width:250px;
}
.contact_us #xyz_cfm_1_1 textarea{
	resize:vertical;
	width:420px;
	height:90px;
}
.contact_us #xyz_cfm_1_1 #submit_5_1{
	background:#ff8420;
	width:120px;
	display:block;
	margin: 0 0 20px auto;
	color:#fff;
	border:0;
	line-height:26px;
}
.contact_us .info table{
	margin: 50px 0 0;
}
.contact_us .info td{
	vertical-align:top;
	font-size:20px;
	padding:0 0 20px 15px;
}
.ucp_page .ucp_main_title1{
	font-style:italic;
	font-size:40px;
	color:#fff;
	line-height:normal;
	position:absolute;
	bottom:30px;
	left:30px;
	text-shadow:3px 2px 4px #4D3D3D;
}
.ucm_map{
	width: 100%;
	height: 280px;
	border: #ccc solid 1px;
	margin: 20px 0 ;
}
.page-template-ucm-contact-us-php .footer{
	margin:0;
}
.media.container{
	margin-top:0;
}
.media.index .dsp_table{
	display:table;
	vertical-align:top;
}
.media.index .tbl_cell{
	display:table-cell;
	padding:10px;
}
.media_content .tbl_cell.audio{
	padding:10px 0 10px 10px;
}
.media_content{
	width:100%;
	padding:10px 0 0;
	border-top: 1px solid #F2F2F2;
}
.media_content .video{
	width:70%;
	border-right:1px solid #F2F2F2;
}
.media_content .heading{
	font-weight: 700;
	font-size: 22px;
	color:#60862A;
	line-height:35px;
	margin:0 0 10px;
}
.media_content  .heading span{
	color:#636363;
	font-weight: 400;
}
.media_content .latest{
	padding:0 0 30px;
	margin:0 0 20px;
	border-bottom: 1px solid #F2F2F2;
}
.media_content .item{
	width:100%;
	margin: 10px 0;
	background:#f2f3f5;
}
.media_content .audio .item{
	width:auto;
	padding:10px;
}
.media_content .item .image{
	width:20%;
	text-align:center;
}
.media_content .item .image img{
	max-width:100%;
}
.media_content .dtls .title_{
	font-weight: 700;
	font-size: 22px;
	font-style: italic;
	color: #60862A;
	margin:5px 0;
	display:block;
}
.media_content .dtls .sub_title{
	font-size: 16px;
	font-weight: 400;
	color: #60862A;
}
.media_content .btn_cont{
	text-align:right;
}
.media_content .btn_cont a{
	color:#fff;
	background:#60862A;
	display: inline-block;
	padding:5px 15px;
	text-align:center;
	margin: 15px 0 0 10px;
	font-weight:700;
}
.single.media .dtls{
	margin: 0 0 15px;
} 
.media .view_all{
	text-align:center;
} 
.single.media .dtls, 
.single.media .dtls .sub_title{
	color:#fd8524;
}
.single.media .dtls .name{
	font-style: italic;
	font-size: 24.5px;
}
.single.media .audio_cont{
	width:300px;
	margin:50px auto 10px;
	font-size:12px;
}
.single.media .btn_cont{
	text-align:center;
}
.single.media .btn_cont a{
	color:#fff;
	background:#60862A;
	display:inline-block;
	padding: 5px 15px;
	margin: 0 0 30px;
	text-align: center;
	font-weight:700;
	font-size:14px;
	line-height:normal;
}
.media .content.listing{
	font-size:14px;
	line-height:normal;
	padding: 0 0 20px;
}
.media .listing .dsp_table{
	display:table;
}
.media .listing .tbl_cell{
	vertical-align:top;
	display:table-cell;
	padding:10px;
	vertical-align:top;
}
.media .listing .item{
	width:100%;
	padding:30px 0;
	border-bottom: 1px solid #F2F2F2;
}
.media .listing .item a{
	color:#60862A;
}
.media .listing .item .image{
	width:20%;
	text-align:center;
}
.media .listing .item .image img{
	max-width:100%;
}
.media .listing .dtls .title_{
	font-weight: 700;
	font-size: 22px;
	font-style: italic;
	color: #688238;
	display:block;
}
.media .listing .dtls .sub_title{
	font-size: 16px;
	font-weight: 400;
	color: #688238;
	margin: 0 0 15px
}
.media .listing .item a{
	color:#fff;
	background:#688238;
	display:inline-block;
	padding: 5px 15px;
	text-align: center;
	margin: 15px 10px 0 0;
	font-weight:700;
}
.ucp_page.search{
	min-height:400px;
}
.ucp_page.search .item{
	padding: 20px 0;
	border-bottom: 1px solid #F2F2F2;
}
.ucp_page.search .entry-title{
	display:block;
	font-weight:700;
	font-size: 16px;
	margin: 0 0 10px;
}

.ministries .content  .item{
	padding: 30px 0;
	border-bottom: 1px solid #F2F2F2;
	font-size: 14px;
	line-height: normal;
}
.ministries .content  .item .name{
	font-weight: 700;
	font-size: 22px;
	font-style: italic;
}
.ministries .item .title {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px;
}
.ministries .item .title, 
.ministries .item .name,
.ministries .item a {
	color: #af1c2d;
}
.ministries .item .intro {
	line-height: 20px;
}
.ministries .item .date {
	float:left;
	min-width:100px;
	color:#949494;
	background:#F5F1EC;
	text-align:center;
	line-height:normal;
	padding:18px 10px;
}
.ministries .item .day {
	color:#af1c2d;
	font-size:55px;
	line-height:50px;
	font-weight:700;
}
.ministries .item .month {
	line-height:35px;
	font-size:30px;
	font-weight:400;
	text-transform:uppercase;
}
.ministries .item .dtls {
	float:right;
	width:560px;
}
.single.ministries .name,
.single.ministries .sub_title,
.single.ministries .date{
	color:#af1c2d;
}
.single.ministries .name{
	font-style: italic;
	font-size: 24.5px;
}
.single.ministries .date{
	margin: 0 0 15px;
}
.single.ministries .sub_title{
	text-transform: capitalize;
}

.ucp_page.sd .content{
	padding:20px 0 10px;
}
.ucp_page.sd .group{
	padding: 10px 30px 10px;
}
.ucp_page.sd .group .slider{
	position:relative;
}
.ucp_page.sd .group .slider:after{
	clear:both;
	display:table;
	content:'';
}
.ucp_page.sd .group .slide_nav{
	position:absolute;
	top:33%;
	cursor:pointer;
}
.ucp_page.sd .group .slide_nav.left_{
	left:-20px;
}
.ucp_page.sd .group .slide_nav.right_{
	right:-20px;
}
.ucp_page.sd .item_{
	padding: 10px;
	width:47%;
	line-height:normal;
	font-size:14px;
	display:none;
	color:#252525;
	float:left;
}
.ucp_page.sd .item_.show{
	display:block;
}
.ucp_page.sd .item_ .bg{
	background:#ededed;
	padding: 20px;
}
.ucp_page.sd .item_.active .bg{
	border:1px solid #AF1C2D;
}
.ucp_page.sd .item_ .name{
	font-style:italic;
	font-weight:700;
	font-size:16px;
}
.ucp_page.sd .item_ .type{
	margin:0 0 15px;
}
.ucp_page.sd .show_all_markers,
.ucp_page.sd .item_ .show_map{
	cursor:pointer;
	text-align:center;
	width:80px;
	color:#fff;
	background:#AF1C2D;
	margin:5px 0 0;
	font-size:12px;
}
.ucp_page.sd .show_all_markers{
	width:100px;
	font-size:14px;
	line-height:22px;
	margin:0 auto;
}
.ucp_page.sd .ucm_sd_map{
	background:#ededed;
	height: 280px;
	border: #CCC solid 1px;
	margin:10px 10px 0;
	clear:both;
}
/* 
.ucp_page.events .nav_top{
	background: url(./images/nav_top.png) no-repeat center bottom;
	background-size:96% auto;
	height:255px;
}
.ucp_page.events .nav_{
	background:#ffe6d2;
	min-height:700px;
}
.ucp_page.events .nav_ ul{
	list-style:none;
	margin:0;
	padding:0;
}
.ucp_page.events .nav_ li{
	border-bottom:1px solid #ffc697;
}
.ucp_page.events .nav_ li:hover{
	border-bottom:1px solid transparent;
}
.ucp_page.events .nav_ a{
	color:#505050;
	display:block;
	text-decoration:none;
	border-left:15px solid transparent;
	padding:12px 10px;
	text-transform:uppercase;
}
.ucp_page.events .nav_ a:hover{
	color:#fff;
	background:#ffb579;
	border-color:#ff8420;
	padding-left:20px;
}
 */